@page "/capabilityView"
@inject HttpClient Http

<h1>Capability View</h1>

<div>
    @if (capabilitiesList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <select name="capabilities" onchange="@LoadDataAsync" >
            @foreach (var capabilityItem in capabilitiesList)
            {
                <option value="@capabilityItem.Name">@capabilityItem.Name</option>
            }
        </select>
    }
</div>

@if (capabilityMatrix == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Capability</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in capabilityMatrix)
            {
                <tr>
                    <td>@item.Product</td>
                    <td>@item.HasCapability</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {


    tcm.model.CapabilityMatrix[] capabilityMatrix;
    tcm.model.Capability[] capabilitiesList;
    tcm.model.Capability selectedCapability = new tcm.model.Capability();
    bool initialized = false;

    protected override async Task OnInitAsync()
    {
        try
        {
            capabilityMatrix = await Http.GetJsonAsync<tcm.model.CapabilityMatrix[]>("sample-data/singleCapabilityManyProducts.json");
            capabilitiesList = await Http.GetJsonAsync<tcm.model.Capability[]>("sample-data/capabilities.json");
            initialized = true;
            System.Diagnostics.Debug.WriteLine("Initialized...");
        }
        catch (Exception ex)
        {
            System.Diagnostics.Debug.WriteLine(ex.ToString());
        }
    }

    public async Task LoadDataAsync(UIChangeEventArgs e)
    {

        string url = new Uri("http://localhost:5001/api/values/Network-v0.1|Virtual-Network-Integration").AbsoluteUri;

        System.Diagnostics.Debug.WriteLine("LoadDataAsync...");
        selectedCapability.Name = e.Value.ToString();
        if (initialized == true && selectedCapability != null)
        {
            //if (selectedCapability.Name == "Service Endpoint") capabilityMatrix = await Http.GetJsonAsync<tcm.model.CapabilityMatrix[]>("sample-data/capability-serviceendpoint-for-products.json");
            if (selectedCapability.Name == "Service Endpoint") capabilityMatrix = await Http.GetJsonAsync<tcm.model.CapabilityMatrix[]>(url);
            else if (selectedCapability.Name == "VNet Integration") capabilityMatrix = await Http.GetJsonAsync<tcm.model.CapabilityMatrix[]>("sample-data/capability-vnetintegration-for-products.json");
        }
    }

}
